#wrapper{
    width: 600px;
    background-color: #ccc;
    margin: 0 auto;
}

#heading{
    height: 100px;
    background: red;
    padding: 20px;;
    text-align: center;
}

.img{
    width: 300px;
    float: left;
    background-color: white;
    margin: 0;
    padding: 5px 15px;
}

#nav{
    height: 50px;
    background-color: lightgreen;
}

.nav_wrapper{
    width: 600px;
    background-color: lightgreen;
    margin: 0 auto;
}

.nav_wrapper ul{
    padding: 0;
    margin: 0;
}

.nav_wrapper ul li{
    display: inline-block;
}

.nav_wrapper li a{
    display: block;
    padding: 10px;
    background-color: black;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.nav_wrapper li a:hover{
    background-color: #eee;
    color: black;
    border-bottom: 1px solid #000000;
}

#content{
    width: 395px;
    min-height: 400px;
    background-color: aqua;
    padding: 5px;
    float: left;
}

#sidebar{
    width: 180px;
    min-height: 400px;
    background-color: antiquewhite;
    padding: 5px;
    float: right;
}

#footer{
    clear: both;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}